In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
from tensorflow import keras

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
traindata=pd.read_csv('/kaggle/input/digit-recognizer/train.csv')
testdata=pd.read_csv('/kaggle/input/digit-recognizer/test.csv')

In [ ]:

#42000개니까 8400개 vaild
xtrain=traindata.iloc[8400:,1:]/255
ytrain=traindata.iloc[8400:,:1]
ytrain=keras.utils.to_categorical(ytrain,10)
xvaild=traindata.iloc[:8400,1:]/255
yvaild=traindata.iloc[:8400,:1]
yvaild=keras.utils.to_categorical(yvaild,10)

In [ ]:
bbb=np.array(xtrain)
bbb.reshape(28,28,-1)
#len(bbb[2])
#bbb[3000
bbb[1]

In [ ]:
import matplotlib.pyplot as plt
c=30

a=np.array(xtrain,dtype='float')
b=np.array(ytrain)
plt.imshow(a[c].reshape((28,28)))
#plt.show()
b[c]

In [ ]:
model=keras.models.Sequential()
model.add(keras.layers.Dense(100,input_shape=(784,),activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(70,activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(30,activation='relu'))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(10,activation='softmax'))
model.compile(loss='mse',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(xtrain,ytrain,epochs=50,validation_data=(xvaild,yvaild))

In [ ]:
test=testdata/255

In [ ]:
his=model.predict_classes(test)

In [131]:
res=pd.DataFrame(his,columns=['Label'])
res=pd.concat([pd.Series(range(1,28001), name="ImageId"),res],axis=1)
res.to_csv('mymnist.csv',index=False)
res

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]